{% extends "base.html" %}

{% block main %}
	<div id="top-banner">
		<div class="row">
			<div class="col s4 push-s4 center-align">
				<h1 class="white-text" id="title">EasyMix</h1>
			</div>
		</div>
		<div class="row">
			<div class="col s4 push-s4 center-align valign-wrapper">
				<h5 class="white-text">Select any song from our list below and we'll find some popular songs that pair well. Happy remixing!</h5>
			</div>
		</div>
	</div>
	<div class="row" id="app">
		<div class="col s4" id="songs">
			{% include 'songs.html' %}
		</div>
		<div class="col s4 center-align" id="video">
			{% include 'video.html' %}
		</div>
		<div class="col s4" id="suggestions">
			{% include 'suggestions.html' %}
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}