<br>
<iframe width="100%" height="315" id="video_iframe" src="https://www.youtube.com/embed/bm_c7wfDL1w?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="left-align" id="video_title" style="display: none;">Lyric Video</p>
<br><br>
<div class="row center-align">
	<a class="secondary-color waves-effect waves-light btn"><i class="material-icons left">cloud_download</i>Original Song</a>
	<a class="secondary-color waves-effect waves-light btn"><i class="material-icons left">cloud_download</i>Instrumental</a>
</div>

<div class="col s12">
	<p class="footer grey-text text-lighten-2 center-align">
		Created by Eash Aggarwal at the University of Pennsylvania. OIDD 105 Final Project. Contact me at <a href="mailto:eash@sas.upenn.edu">eash@sas.upenn.edu</a>.
	</p>
</div>